<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="PerfTest1_XamarinForms.Android" android:versionCode="1" android:versionName="1.0.0.1" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="17" />
	<application android:label="PerfTest1-XamarinForms.Android" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>